<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href = "css/styles.css">
  <title> <%= 'Covers' %> </title>
</head>
<body>
  <ul>

  <% albums.forEach(albumObject => { %>

    <li>
      <a href = "/albums/<%= albumObject.artwork %> "> <%= albumObject.albumname %> </a>
    </li>

  <% }) %>
  
  </ul>
</body>
</html>