<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= Under Construction %> 
  </title>
</head>
<style>
  body{
    background-image: url("https://wallpaperaccess.com/full/4232383.jpg")
  }
</style>

<body>
  <%= <image src= "https://wallpaperaccess.com/full/4232383.jpg>
%> 


<h1>Hello</h1>
</body>
</html>