.title {
  text-align: center;
}

.image {
  display: flex;
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color:red;
}

li {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

a {
  color: #dd4f53;
}




