body{
  /* background-color: grey; */
  background-image:url("https://wallpaperaccess.com/full/1402510.jpg");
  background-size: 165vh;
  background-repeat: no-repeat;
  /* margin:auto; */
  /* border-bottom: 100%; */
  position: absolute; 
}



