body{
  /* background-color: skyblue; */
  background-image:url("https://wallpaperaccess.com/full/1402510.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  margin:auto;
  /* border-bottom: 100%; */
  position: absolute;
}

ul{
  list-style: none;
}